/* ==========================================================================
   Editor Styles
   ========================================================================== */


/* Column Classes
------------------------------------------------------------ */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "settings/mixins";
@import "settings/variables";
@import '~font-awesome/scss/font-awesome';
// Custom Bootstrap option
@import "~bootstrap/scss/bootstrap";


// General, Typography
@import "partials/general";
@import "partials/typography";
@import "partials/tables";
@import "partials/theme";

/* Images
------------------------------------------------------------ */

img {
	max-width: 100%;
	height: auto;
}
#tinymce.content {
	width: initial;
	margin: 9px 10px;
}