
/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	color:$white;
	font-weight: 300;
	background-color:$charcoal;
	line-height: 1;
	padding: 60px 0;
	text-align: center;
	a {
		color: $white;
		border-bottom: 1px solid $brandColor;
		&:hover {
			text-decoration: none;
			border-bottom: none;
			color:$brandColor;
		}
	}
}

.site-footer p {
	margin-bottom: 0;
}