/* ==========================================================================
   Forms
   ========================================================================== */


.comment-form {
	textarea,
	input[type="text"],
	input[type="email"],
	input[type="url"] {
		@extend .form-control;
	}
}
input[type="submit"] {
	@extend .btn;
	@extend .btn-secondary;
}



/* ## Search Form
--------------------------------------------- */

input[name="s"] {
	@extend .form-control;
	
}
.search-form {
	overflow: hidden;
	@extend .form-inline;
	input[type="search"] {
		margin-right: 6px;
		width: 250px;
		max-width: 100%;
	}
}

.entry-content .search-form,
.site-header .search-form {
	margin-bottom: 40px;
	//width: 50%;
	
}

.site-header .search-form {
	float: right;
	margin: 12px auto 0;
}



.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}
