/* Logo */

.altbitmap {
	display: none;
}
.no-svgasimg .altbitmap {
	display: block;
}
.title-area {
    padding-bottom: 18px;
    padding-top: 18px;
}
.genesis-nav-menu {
    margin: 0.5rem 0;
}
/* ==========================================================================
   Selection Highlights
   ========================================================================== */

::-moz-selection {
	background: tint($selectionColor, 50%);
	color: #000;
	text-shadow: none;
}

::selection {
	background: tint($selectionColor, 50%);
	color: #000;
	text-shadow: none;
}



