

/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	margin-bottom: 2rem;
}

.sidebar .widget {
	background-color: $white;
	margin-bottom: 2rem;
	
}
