/* ==========================================================================
   Widgets
   ========================================================================== */
   

.widget {
	margin-bottom: floor(($grid-gutter-width/4));
	word-wrap: break-word;
}
.header-band .widget {
	margin-bottom: 0;
}
.footer-widgets {
	.widget-area {
		@extend .col-16;
		@extend .col-sm-8;
		@extend .col-md-4;
	}
}
.footer-widgets-3 {
	clear:left;
	@media (min-width: $screen-md-min) {
		clear: none;
	}
}

#text-2 .widget-title {
	border: none;
}



.widget p:last-child,
.widget ul > li:last-of-type,
.widget-area .widget:last-of-type {
	margin-bottom: 0;
}

.widget ul > li {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.widget ul > li:last-of-type {
	padding-bottom: 0;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: 0;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}


/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 800px;
}



/* ## Genesis eNews Extended
--------------------------------------------- */

.sidebar .enews-widget,
.sidebar .enews-widget .widget-title {
	color: $white;
}

.sidebar .widget.enews-widget {
	background-color: #333;
}

.sidebar .enews-widget input,
.sidebar .enews-widget input:focus {
	border: 1px solid #333;
}

.sidebar .enews-widget input[type="submit"] {
	background-color: $brandColor;
	color: $white;
}

.sidebar .enews-widget input:hover[type="submit"],
.sidebar .enews-widget input:focus[type="submit"]  {
	background-color: $white;
	color: #333;
}

.enews-widget input {
	margin-bottom: 1rem;
}

.enews-widget input[type="submit"] {
	margin: 0;
	width: 100%;
}

.enews form + p {
	margin-top: 24px;
}

